cfgv==3.4.0
distlib==0.3.8
filelock==3.13.1
identify==2.5.35
nodeenv==1.8.0
numpy==1.26.4
platformdirs==4.2.0
pre-commit==3.6.2
pre-commit-hooks==4.5.0
PyYAML==6.0.1
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
tomli==2.0.1
virtualenv==20.25.1
